[submodule "Quasar/Vendor/GLFW"]
	path = Quasar/Vendor/GLFW
	url = https://github.com/Rounak-Paul/glfw.git
[submodule "Quasar/Vendor/GLM"]
	path = Quasar/Vendor/GLM
	url = https://github.com/Rounak-Paul/glm.git
[submodule "Quasar/Vendor/STB"]
	path = Quasar/Vendor/STB
	url = https://github.com/Rounak-Paul/stb.git
[submodule "Quasar/Vendor/TINYOBJLOADER"]
	path = Quasar/Vendor/TINYOBJLOADER
	url = https://github.com/Rounak-Paul/tinyobjloader.git
[submodule "Quasar/Vendor/FASTGLTF"]
	path = Quasar/Vendor/FASTGLTF
	url = https://github.com/Rounak-Paul/fastgltf.git
[submodule "Quasar/Vendor/VKBOOTSTRAP"]
	path = Quasar/Vendor/VKBOOTSTRAP
	url = https://github.com/Rounak-Paul/vk-bootstrap.git
